body{
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;

}

section{
    width: 1000px;
    margin: 0 auto;
}

/*NAVBAR STYLING*/
.navbar,
.list-box,
.icons,
.thumbnails,
main,
.info-box,
.price-box,
.price-discount,
.item-add-minus,
.item-line,
.img-box-light {
    display: flex;
}

.navbar,
.icons,
.price-discount,
.item-line{
    align-items: center;
}

.list-box, 
.info-details,
.old-price,
.empty,
.ordered{
    color: hsl(219, 9%, 45%);
}

.navbar{
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 2;
}

.navbar,
.cart-top{
    border-bottom: 2px solid hsl(0, 10%, 94%);
}

.list-box{
    list-style: none;
    width: 500px;
    justify-content: space-around;
}

.list-item,
.avatar-nav,
.trolley-nav,
.minus,
.plus, 
.add-btn,
.thumbnail-img,
.delete-icon,
.main-img,
.arrow-icon,
.close-icon{
    cursor: pointer;
}

.list-item{
    line-height: 100px;
}

.list-item:active{
    border-bottom: 3px solid hsl(26, 100%, 55%);
}

.icons{
    margin-left: auto;
}

.avatar-nav{
    width: 50px;
    height: 50px;
    margin-left: 35px;
}

.avatar-nav:active{
    border-radius: 50%;
}

.avatar-nav:active,
.clicked{
    border: 2px solid hsl(26, 100%, 55%);
}

/*Open trolley-box*/

.trolley-box{
    position: absolute;
    right: -20px;
    top: 90px;
    width: 320px;
    display: none;
    box-shadow: 0px 0px 10px lightgray;
    background-color: white;
    z-index: 1;
    padding-bottom: 40px;
    border-radius: 5px;
}

.trolley-box-display{
    display: block;
}

.cart{
    font-size: 0.85rem;
}

.cart{
    margin-left: 15px
}

.item-line{
    justify-content: center;
}

.empty{
    text-align: center;
    font-size: 0.75rem;
    font-weight: 700;
    margin-top: 50px;
}

.trolly-img{
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

.item-line{
    margin-top: 20px;
    margin-bottom: 25px;
}

.ordered{
    font-size: 0.85rem;
    font-weight: 700;
    margin-left: 15px;
    margin-right: 15px;
    letter-spacing: 0.5px;
    line-height: 1.25rem;
}

.total-bold{
    color: black;
    font-weight: 700;
}

.order-info{
    margin-bottom: 0;
    margin-top: 0;
}

.checkout{
    width: 280px;
    margin-left: 20px
}

.nums{
    position: absolute;
    background-color: hsl(26, 100%, 55%);
    width: 20px;
    height: 12px;
    top: 27px;
    right: 78px;
    text-align: center;
    border-radius: 45%;
    color: white;
    font-size: 0.65rem;
}

.none{
    display: none;
}

/*MAIN PART OF PAGE*/

main{
    padding: 90px 50px 100px 50px;
}
.main-img{
    width: 450px;
    border-radius: 15px;
}

.thumbnails{
    margin-top: 20px;
    justify-content: space-between;
}

.thumbnail-img{
    width: 90px;
    border-radius: 10px;
}

.thumbnail-img:hover,
.add-btn:active,
.clicked{
    opacity: 0.5;
}

.info-box{
    margin-left: 50px;
    margin-top: 46px;
    flex-direction: column;
}

.info-title{
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 2px;
}

.info-title, .discount{
    color: hsl(26, 100%, 55%);
}

.info-header{
    font-weight: 700;
    font-size: 2.65rem;
    color: hsl(220, 13%, 13%);
    margin-top: 7px;
    margin-bottom: 10px;
}

.info-details{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.price-discount{
    height: 50px;
    padding-top: 10px
}

.current-price{
    font-size: 1.75rem;
}

.discount{
    background-color: hsl(25, 100%, 94%);
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.95rem;
}

.old-price{
    margin-top: 0;
    margin-bottom: 30px;
    text-decoration: line-through;
}

.price-box,
.checkout{
    height: 50px;
}

.item-add-minus{
    background-color: hsl(223, 64%, 98%);
    width: 150px;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
}

.old-price,
h5{
    font-size: 1rem;
}

.add-btn{
    margin-left: 20px;
    width: 250px;
}

.add-btn,
.checkout{
    background-color: hsl(26, 100%, 55%);
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1rem;
}

.add-btn,
.add-cart-icon,
.checkout{
    color: white;
}

.add-cart-icon{
    padding-right: 15px;
    width: 18px;
}

footer{
    text-align: center;
    font-size: 0.5rem;
}

/*Click for Lightbox*/

.img-box-light{
    position: absolute;
    top: 0;
    flex-direction: column;
    left: 0;
    right: 0;
    align-items: center;
    padding-top: 70px;
    z-index: 1000;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.767);
}

.lightbox,
.light{
    width: 550px;
    position: relative;
}

.close-icon{
    width: 22px;
    margin-bottom: 25px;
    margin-left: 520px;
    z-index: 2;
}

.main-light{
    width: 550px
}

.light{
    justify-content: space-around;
}

.arrow-icon{
    background-color: white;
    padding: 20px 25px;
    border-radius: 50%;
    position: absolute;
    width: 1rem;
}

.prev{
    left: -40px;
    top: 280px;
}

.next{
    right: -40px;
    top: 280px;
}

